<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new post</title>
</head>
<body>
    <div style="margin-left: 40%;">
        <h3>Create Post</h3>
    <form method="post" action="/post">
        <input type="text" name="username" id=""> <br>
        <br>
        <textarea name="content" id="" minlength="1" style="resize: none"></textarea><br>
        <button>submit</button>
    </form>
   
</div>
</body>
</html>